include baseline-resnet34_dilated8-psp_bilinear/decoder_best.pth
include baseline-resnet34_dilated8-psp_bilinear/encoder_best.pth
include data/color150.mat
include davidgarrett.jpg
include demo_test.sh
